Repository mauroBus/awesome-animated-bubble-chart: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --fix, prettier --write

.lintstagedrc:

{
    "*.css": [
        "stylelint"
    ],
    "*.{js,tsx}": [
        "eslint --fix",
        "prettier --write",
        "git add"
    ]
}

Add configs for prettier
  .prettierrc
Due: none

Create Babel configs
  babel.config.js
Due: eslint --fix, prettier --write

Create TypeScript configuration file
  tsconfig.json
Due: none

Create Webpack env & paths files to use in configs
  webpack/environment.js
  webpack/paths.js
  webpack/utils.js
Due: eslint --fix, prettier --write

Create Webpack shared config for all envs
  .eslintignore
  .gitignore
  webpack/config-base.js
Due: eslint --fix, prettier --write

Setup Webpack configs for development
  webpack/config-dev.js
  webpack/config-split-chunks.js
Due: eslint --fix, prettier --write

Setup Webpack configs for production
  webpack/config-prod.js
Due: eslint --fix, prettier --write

Setup webpack dev server to serve local bundles and proxy JSON mocks
  webpack/config-dev-server.js
Due: eslint --fix, prettier --write

Setup Jest base configs
  jest/base-config.js
Due: eslint --fix, prettier --write

Setup the Enzyme adapter on the Jest tests
  jest/empty-module.js
  jest/enzyme-setup.js
Due: eslint --fix, prettier --write

Setup format-message on Jest tests
  jest/setup.js
  jest/url-loader-transformer.js
Due: eslint --fix, prettier --write

Add final configs for running Jest tests as a package.json command
  jest/test-config.js
Due: eslint --fix, prettier --write

Setup configs for PostCSS
  postcss.config.js
Due: eslint --fix, prettier --write

Create the main files to run (render) the React app
  src/index.html
  src/index.tsx
Due: eslint --fix, prettier --write

Create App to wrap the main container & CSS base (resets)
  src/__tests__/app.test.tsx
  src/app.css
  src/app.tsx
  src/favicon.ico
Due: stylelint, eslint --fix, prettier --write

Setup Redux
  src/redux/reducers/index.ts
  src/store.ts
Due: none

Redux: Create a Fetch middleware to make HTTP requests and automatically call redux actions according to the response status
  src/redux/middlewares/__tests__/fetch.test.ts
  src/redux/middlewares/fetch.ts
  src/redux/middlewares/fetch.types.ts
Due: none

Create the ErrorBoundary to catch any error and show a feedback screen
  src/shared/error-boundary/__tests__/index.test.tsx
  src/shared/error-boundary/index.css
  src/shared/error-boundary/index.tsx
Due: stylelint, eslint --fix, prettier --write

Create main app styles (shared vars)
  src/static/bg.jpg
  src/styles/colors.css
  src/styles/variables.css
Due: stylelint

Add the 'avenir' fonts
  src/styles/avenir/avenir-bold.eot
  src/styles/avenir/avenir-bold.ttf
  src/styles/avenir/avenir-bold.woff
  src/styles/avenir/avenir-light.eot
  src/styles/avenir/avenir-light.ttf
  src/styles/avenir/avenir-light.woff
  src/styles/avenir/avenir-normal.eot
  src/styles/avenir/avenir-normal.ttf
  src/styles/avenir/avenir-normal.woff
  src/styles/avenir/avenir-semibold.eot
  src/styles/avenir/avenir-semibold.ttf
  src/styles/avenir/avenir-semibold.woff
  src/styles/font-face.css
Due: stylelint

Create the fetch logic to make HTTP requests through 'axios', requests are cached, cancelled, etc
  src/utils/fetch/__tests__/fetch-cache.test.ts
  src/utils/fetch/__tests__/fetch-factory.test.ts
  src/utils/fetch/__tests__/index.test.ts
  src/utils/fetch/__tests__/util.test.ts
  src/utils/fetch/fetch-cache.ts
  src/utils/fetch/fetch-factory.ts
  src/utils/fetch/index.ts
  src/utils/fetch/util.tsx
Due: eslint --fix, prettier --write

Create the JSON tools to parse the requests responses
  src/utils/json-tools/__tests__/index.test.ts
  src/utils/json-tools/index.ts
Due: none

Create some timing utilities, useful for animations
  src/utils/timing-functions/__tests__/index.test.ts
  src/utils/timing-functions/index.ts
Due: none

Create the JSON mocked data
  src/mock-data/api/bubbles.json
Due: none

Create the main bubble-chart page and define common AppActions
  src/__tests__/index.test.tsx
  src/__tests__/store.test.ts
  src/pages/bubble-chart/index.tsx
  src/types/app-actions.d.ts
Due: eslint --fix, prettier --write

Create the main actions for the BubbleChart page
  src/pages/bubble-chart/__tests__/_actions.test.ts
  src/pages/bubble-chart/__tests__/index.test.tsx
  src/pages/bubble-chart/_actionTypes.ts
  src/pages/bubble-chart/_actions.ts
Due: eslint --fix, prettier --write

Create reducer for the BubbleChart page
  src/pages/bubble-chart/__tests__/_reducer.test.ts
  src/pages/bubble-chart/_reducer.ts
Due: none

Declare the main AppState, as well as common shared types and BubbleChart page types
  src/types/app-state.d.ts
  src/types/bubble.d.ts
  src/types/common.d.ts
Due: none

Define types for allowing the CSS modules
  src/types/css-modules.d.ts
Due: none

Create the main Page to setup the bubble-chart page
  src/pages/bubble-chart/__tests__/bubbles.data.ts
  src/pages/bubble-chart/__tests__/page.test.tsx
  src/pages/bubble-chart/page.css
  src/pages/bubble-chart/page.tsx
Due: stylelint, eslint --fix, prettier --write

Create the BubbleChartTabs component
  src/pages/bubble-chart/tabs/__tests__/index.test.tsx
  src/pages/bubble-chart/tabs/index.css
  src/pages/bubble-chart/tabs/index.tsx
Due: stylelint, eslint --fix, prettier --write

Create the BubbleToggle component
  src/pages/bubble-chart/toggle/__tests__/index.test.tsx
  src/pages/bubble-chart/toggle/index.css
  src/pages/bubble-chart/toggle/index.tsx
Due: stylelint, eslint --fix, prettier --write

Configure locales and extract the texts to build translations files
  src/format.ts
  src/locales/en.json
Due: none

Create the BouncingBubbleChart to render & configure the D3 force animations
  src/pages/bubble-chart/bouncing-bubble-chart/index.css
  src/pages/bubble-chart/bouncing-bubble-chart/index.tsx
Due: stylelint, eslint --fix, prettier --write

Generate bubble chart nodes from the row data
  src/pages/bubble-chart/bouncing-bubble-chart/__tests__/nodes.test.ts
  src/pages/bubble-chart/bouncing-bubble-chart/nodes.ts
Due: none

Add tests for BouncingBubbleChart component
  src/pages/bubble-chart/bouncing-bubble-chart/__tests__/index.test.tsx
Due: eslint --fix, prettier --write

Create the BubbleDrawer component to draw each of the bubbles on the simulation
  src/pages/bubble-chart/bouncing-bubble-chart/__tests__/bubble-drawer.test.tsx
  src/pages/bubble-chart/bouncing-bubble-chart/bubble-drawer.css
  src/pages/bubble-chart/bouncing-bubble-chart/bubble-drawer.tsx
Due: stylelint, eslint --fix, prettier --write

Create the Procfile to run static files on Heroku
  Procfile
Due: none

Document the repo
  README.md
  package.json
Due: none

Serve built files as well as JSON mocked data on the HTTP requests
  package.json
  src/mock-data/api.json
  yarn.lock
Due: none
