Repository mauroBus/awesome-animated-bubble-chart: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --fix, prettier --write

Updates
  bg.jpg
  favicon.ico
  index.html
  locales.json
  manifest.json
  static/css/main.b6081311.chunk.css
  static/css/main.b6081311.chunk.css.map
  static/js/main.2c745f01.chunk.js
  static/js/main.2c745f01.chunk.js.map
  static/js/runtime~main.9e332df8.js
  static/js/runtime~main.9e332df8.js.map
  static/js/vendors~main.bda30c26.chunk.js
  static/js/vendors~main.bda30c26.chunk.js.map
Due: stylelint, eslint --fix, prettier --write

Serve app to Heroku server
  Procfile
  README.md
  package.json
  yarn.lock
Due: none

Create JSON static server to serve both: static files and mock JSONs
  Procfile
  json-server.js
  package.json
Due: eslint --fix, prettier --write

Add Demo to the Docs
  README.md
Due: none

Add demo.png picture
  demo.png
Due: none

Path conditions:
  stylelint: any of: *.css
  eslint --fix: any of: *.{js,tsx}
  prettier --write: any of: *.{js,tsx}
